* {
  
  margin: 0px;
  padding: 0px;
  /* box-sizing: border-box; */
  /* background-image: linear-gradient(rgb(54, 4, 134), black);; */
}


body{
  background-image: url('../images/plants.jpg');
}

html {
  color: white;
  scroll-behavior: smooth;
  /* background-image: linear-gradient(rgb(54, 4, 134), black); */
  
}
p{
  font-size: 22px;
  padding:8px;
  width:flex;
  background: rgb(0,139,0);
  background: linear-gradient(90deg, rgba(0,139,0,0.3393732492997199) 0%, rgba(7,159,36,0.9528186274509804) 0%, rgba(88,9,121,1) 64%, rgba(14,255,0,0.8155637254901961) 100%);

}

header nav ul li a {
  text-decoration: none;
  color: #ddd;
  font-size: 25px;
}

header nav ul li {
  display: inline;
  padding: 8px;
}

.logo {
  color: #ddd;
  font-size: 30px;
  padding: 8px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1{
  font-size: 36px;
  margin: 6px;
  padding:8px;
  /* background: rgb(0,139,0);
background: linear-gradient(90deg, rgba(0,139,0,0.3393732492997199) 0%, rgba(7,159,36,0.9528186274509804) 0%, rgba(88,9,121,1) 64%, rgba(14,255,0,0.8155637254901961) 100%); */
}

h2{
  font-size: 36px;
  padding: 10px;
  /* background-color:rgb(92, 0, 128) */
  background: rgb(0,139,0);
background: linear-gradient(90deg, rgba(0,139,0,0.3393732492997199) 0%, rgba(7,159,36,0.9528186274509804) 0%, rgba(88,9,121,1) 64%, rgba(14,255,0,0.8155637254901961) 100%);
}

h3{
  padding: 10px;
  /* background-color:rgb(92, 0, 128);
   */
   background: rgb(0,139,0);
background: linear-gradient(90deg, rgba(0,139,0,0.3393732492997199) 0%, rgba(7,159,36,0.9528186274509804) 0%, rgba(88,9,121,1) 64%, rgba(14,255,0,0.8155637254901961) 100%);
}

/* .article {
    border: 5px solid black;
    background-color: grey;
    /* min-width: 30px;
    min-height: 30px; 
    max-height: 10px; */
/* } */

section {
  display: flex;
  align-items: center;
  justify-content: center;
}

img{
  margin: 6px;
  border: rgb(92, 0, 128) 30px solid;
  /* padding: solid purple; */
 
}

.proj{
  height: 10px;
  width: 50px;
}

#banner {
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
} 

.footer {
  display: flex;
  /* align-items: right; */
  flex: 0 0 20%;
  flex-direction: row;
  display: inline-block;
  justify-content: center;
}

footer ul li {
  background-color: white;
  display: inline;
  justify-content: space-evenly;
  font-size: 1.5em;
  
}

#test{
  position:absolute;
  margin-left: 4rem;
  margin-top:4rem;
}

.header-left{
  position: absolute;
  margin-top: 12rem;
  margin-left: 4rem;
}

#projects {

  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */

  /* height: 300px; */
}

.project-1 {
  flex: 0 1 75%;
}


.project-2,
.project-3,
.project-4,
.project-5 {
  /* display: flex;
  flex-direction: row;
  justify-content: center; */
  flex: 1 1 44%;
 } 

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}


@media screen and (min-width: 992px) {
  a:hover {
    background-color: grey;
  }

  img:hover {
    opacity: 45%;
    color: gray;
  }

  .container:hover .image {
    opacity: 0.3;
  }
}

.pic{
  justify-content: space-between;
  /* padding:30px; */
  
}
